#outPopUp {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: red;
}

.title {
    margin:0 auto;
    font-size: 40px;
    font-family: avenir;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 120px;
}

#tooltip {
    position: absolute;
    border-radius: 25px;
    background-color: lightskyblue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#empty_piece{
    display: none;
}

#title{
    width: 100%;
    margin: 10px;
    margin-left: 20px;
    max-height: 41px;
    max-width: 500px;
}

#puzzle {
    background-image: url(../images/puzzle.png);
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#grid{
    background-image: url(../images/grid.png);
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#checkbox{
    vertical-align: middle;
}

#accordion h3{
    font-size: 20px;
}

#accordion div{
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

#accordion a{
 color: blue;
}

#logo{
    background-image: url(../images/logo.png);
    height: 80px;
    width: 173px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: right;
    margin-top: 15px;
}

.info{
    padding-top: 10px;
    font-size: 20px;
}
fieldset{
    margin-top: 10px;
    margin-left: 0px;
}

#cb_label{
    width: 100%;
    font-size: 20px;
    vertical-align: middle;
    margin-bottom: 0px;
}